@*@model List<Exercicios>*@
<div>
    <div>
        <h1> Bem vindo a Sharpe Academia</h1>
        <h2>O que gostaria de fazer hoje?</h2>
                    
        @Html.ActionLink("Cadastro Aluno Novo", "Index", "Cliente", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cadastro Professor", "Index", "Professor", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cadastro Treino", "Index", "Treino", null, new { @class = "btn btn-primary" })
        <a href="~/Controllers/Treino/Index">Linkkkkkkkkkk</a>

    </div>
    
</div>