@model Cliente

<form method="post">
    <fieldset>
        <legend>Dados Pessoais</legend>
        <div class="form-group" id="Nome">
            <label asp-for="Nome"></label>
            <input type="text" class="form-control"
                   asp-for="Nome" />
            <span asp-validation-for="Nome"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="Endereco">
            <label asp-for="Endereco"></label>
            <input type="text" class="form-control"
                   asp-for="Endereco" />
            <span asp-validation-for="Endereco"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="Cpf">
            <label asp-for="Cpf"></label>
            <input type="text" class="form-control"
                   asp-for="Cpf" />
            <span asp-validation-for="Cpf"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="Peso">
            <label asp-for="Peso"></label>
            <input type="number" class="form-control"
                   asp-for="Peso" />
        </div>
        <div class="form-group" id="Altura">
            <label asp-for="Altura"></label>
            <input type="number" class="form-control"
                   asp-for="Altura" />
        </div>
        <div class="form-group" id="Email">
            <label asp-for="Email"></label>
            <input type="email" class="form-control"
                   asp-for="Email" />
            <span asp-validation-for="Email"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="Senha">
            <label asp-for="Senha"></label>
            <input type="password" class="form-control"
                   asp-for="Senha" />
            <span asp-validation-for="Senha"
                  class="text-primary"></span>
        </div>

        <input type="submit"
               class="btn btn-success"
               value="Cadastrar"
               asp-action="Cadastrar"
               asp-controller="Cliente" />
    </fieldset>
</form>
